{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Code Relay by BITS-ACM">
  <meta name="author" content="Honnesh Rohmetra">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="{% static 'css/ide.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/addon/dialog.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/codemirror.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-toggle.min.css' %}">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/montserrat.css' %}"/>
	<!--<link  href="../../../relay/static/css/fonts/glyphicons-halflings-regular.ttf"/>
	<link  href="../../../relay/static/css/fonts/glyphicons-halflings-regular.eot"/>
	<link  href="../../../relay/static/css/fonts/glyphicons-halflings-regular.woff"/>
	<link  href="../../../relay/static/css/fonts/glyphicons-halflings-regular.woff2"/>-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/glyphicons-halflings-regular.eot' %}"/>
  <script src="{% static 'js/bootstrap-toggle.min.js' %}"></script>

  <script src="{% static 'js/codemirror.js' %}"></script>
  <script src="{% static 'js/mode/simple.js' %}"></script>
  <script src="{% static 'js/mode/clike.js' %}"></script>

  <script src="{% static 'js/mode/python.js' %}"></script>


  <script src="{% static 'js/download.js' %}"></script>


  <script src="{% static 'js/addon/searchcursor.js' %}"></script>
  <script src="{% static 'js/addon/search.js' %}"></script>
  <script src="{% static 'js/addon/dialog.js' %}"></script>
  <script src="{% static 'js/addon/matchbrackets.js' %}"></script>
  <script src="{% static 'js/addon/closebrackets.js' %}"></script>

  <script src="{% static 'js/keymap/vim.js' %}"></script>

  <script src="{% static 'js/ide.js' %}"></script>

  <style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    max-height: 80%;
    animation-duration: 0.4s;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;
    overflow-y: scroll;
        max-height: calc(100% - 120px);
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
</style>
</head>
<script>
var myVar;
function load() {
var timex = Math.floor({{time}}-120);
var timey = Math.floor({{time}});
console.log(timex);
setTimeout(function() { x({{time}}); }, timex*1000);
setTimeout(y, timey*1000);
}

function y() {
    clearInterval(myVar);
	document.getElementById("timer").innerHTML = '';

    $.ajax({
        url: '/ajax/swapcode/',
        data: {
          'code': sourceEditor.getValue(),
          'lang': $("#selectLanguageBtn").val(),
        },
        dataType: 'json',
        success: function (data) {
            if(data.finish) {
              document.getElementById("finishRace").click();
            }
            //outputEditor.setValue(data.output);
            document.getElementById("qhead").innerHTML = data.heading;
            document.getElementById("qbody").innerHTML = data.question;

            sourceEditor.setValue(data.code);
            document.getElementById("selectLanguageBtn").value=data.lang;
            var timex1 = Math.floor(data.time-120);

            var timey1 = Math.floor(data.time);
            setTimeout(function() { x(data.time); }, timex1*1000);

            setTimeout(y, timey1*1000);

          
        }
      });}
function x(time) {
	var abc = Math.min(time,120);
	var t = 2;
myVar = setInterval(myTimer, 1000);
function myTimer() {

    document.getElementById("timer").innerHTML = '<span style="color:#f1f3f1;font-family:montserrat;font-weight:100; font-size:150%;margin-left:25%;">SWAP IN-</span><span style="color:#111;font-family:montserrat;font-weight:100; font-size:150%;">'+Math.floor((abc-t)/60)+':'+("0" + Math.floor((abc-t)%60)).slice(-2);+'</span>';
    	t++;

}
}

</script>
<body onload="load()">

<!-- Trigger/Open The Modal -->


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="height:90%">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2 id="qhead">{{code.question.heading}}</h2>
    </div>
    <div class="modal-body" id="qbody">
      <p>{{code.question.question_text|safe}}</p>

    </div>
    <div class="modal-footer">
      <h3></h3>
    </div>
  </div>

</div>
<!-- The Modal -->
<div id="rulesModal" class="modal" style="display:block">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header" style="background-color:#00bcd4">
   <!--   <span class="close">&times;</span>-->
      <h2 style="text-align:center">Code Of Conduct</h2>
    </div>
    <div class="modal-body">
     <ul>
   <li>The duration of the event is two hours.
<li> Participants are not allowed to communicate with any other participant
including teammates in any form.
<li>The allowed languages are C, C++, Java and Python.
<li>Team members are to use the same language.
<li>Any form of malpractice will lead to disqualification.
<li>The team will be disqualified if any person of the team tries to escape the full screen, or change the game screen for writing their code on a separate application.
</ul>
<h2 style="text-align:center">Details</h2>
<ul>
	<li>CodeRelay consists of total 4 competitive programming questions.
	<li>Every team has exactly 2 members whose codes will be swapped after around 15 minutes.
	<li>The Timer will be displayed when 2 minutes are left for the codes to swap.
	<li>The team which solves all the questions wins.
</ul>

 <div class="wrapper"> <button id="close_button" class="btn btn-primary" style="font-size:120%;height:110%; margin-left: 3%"> Let's Begin! </button></div>
    </div>
    <div class="modal-footer" style="background-color:#00bcd4">
      <h3>CODERELAY</h3>
    </div>
  </div>

</div>

<span style="color:#f1f3f1;font-family:montserrat;font-weight:900; font-size:250%; margin-left:1%">CODE</span><span style="color:#111;font-family:montserrat;font-weight:900; font-size:250%;">RELAY</span>
<span id="timer"></span>

<h3><span style="color:#f1f3f1;float: right;margin-top: -5%;margin-right: 15%;font-weight:100;">{{user.name}}</span>&nbsp;<span style="color:#111;float: right;margin-top: -5%; font-weight: 100;margin-right:2%;">{{user.teamname}}</span></h3>

  <nav class="navbar navbar-static-top" style="margin-top:-4%">
    <!--<div class="container-fluid" id="top">-->
      <div class="navbar-header">
        <!--<a class="navbar-brand newnav " href=""-->
<button id="myBtn" class="btn btn-danger" style="margin-left:20% ;font-size:120%;height:110%;"> Question </button>
<button id="rules" class="btn btn-warning" style="margin-left:30% ;font-size:120%;height:110%; float: right; margin-top: -14%"> Instructions </button>
         <!-- <span style="color:#f1f3f1;font-family:montserrat;font-weight:900">CODE</span><span style="color:#111;font-family:montserrat;font-weight:900">RELAY</span>-->
        </a>
      </div>
      <div class="navbar-form navbar-right" style="margin-right: 10%">

        <div class="input-group">
          <div class="input-group-btn">
            <!--<button id="insertTemplateBtn" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Insert template">-->
              <span class="glyphicon glyphicon-file" style="background-color:#00B8D4" aria-hidden="true"></span>
            </button>
          </div>

          <select class="form-control" id="selectLanguageBtn" style="    background-color: #5bc0de;
    color: white; border-width: 2px;
    border-radius: 10px; -moz-appearance: none;">
            <option value="4" mode="text/x-csrc">C (gcc 7.2.0)</option>
            <option value="10" mode="text/x-c++src">C++ (g++ 7.2.0)</option>
            <option value="26" mode="text/x-java">Java</option>
            <option value="35" mode="text/x-python">Python (3.5.3)</option>
            <option value="36" mode="text/x-python">Python (2.7.9)</option>
          </select>
        </div>
        <button class="btn btn-info" id="runBtn" data-loading-text="Running...">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Run
        </button>
        <button class="btn btn-info" id="saveBtn" data-loading-text="Saving...">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
        </button>
            <button class="btn btn-success" id="submitBtn" data-loading-text="Submitting...">
          <span class="" aria-hidden="true"></span> Submit
        </button>
            <button class="btn btn-warning" id="finishRace" data-loading-text="Quitting...">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Finish Race
        </button>

    </div>
  <!--<h3><span style="color:#f1f3f1;float: right;margin-top: -4%;margin-right: 15%;font-weight: 300;">PersonName</span>&nbsp;<span style="color:#111;float: right;margin-top: -4%; font-weight: 900;">TeamName</span></h3>
  --></nav>
  <div id="sourceEditor" style="width:95%; height:50%; margin:1%; margin-left:1.5%;margin-top:1%; border-radius: 100px"></div>


  <div class="container-fluid">
    <div class="row labels">
      <div id="inputLabel" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h4>
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Input <small>optional</small>

      
        </h4>
      </div>
      <div id="outputLabel" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h4>
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Output

          <small class="pull-right" id="statusLine"></small>
    
        </h4>
      </div>
    </div>

    <div class="row ioEditors">
      <div id="inputEditor" class="col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><textarea id="output" rows="20" name="comment[text]" id="comment_text" cols="40" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" style="border-radius: 0; width: 100%; min-height: 20%" readonly></textarea></div>
    </div>
    <p id="abc"></p>
    </div>
  <script>
var modal = document.getElementById('myModal');

var btn = document.getElementById("myBtn");

var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
    modal.style.display = "block";
}

span.onclick = function() {
    modal.style.display = "none";
}

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
</body>
</html>
<script>
$(document).ready(function(){
  if("{{code.code|escapejs}}"!="") {

  sourceEditor.setValue("{{code.code|escapejs}}");
  document.getElementById("selectLanguageBtn").value={{code.lang}};

};





  $("#runBtn").click(function(e) {
    $.ajax({
        url: '/ajax/runcode/',
        data: {
          'code': sourceEditor.getValue(),
          'input': inputEditor.getValue(),
          'lang': $("#selectLanguageBtn").val(),
        },
        dataType: 'json',
        success: function (data) {
            if(data.finish) {
              document.getElementById("finishRace").click();
            }
            console.log(data.output);

            //outputEditor.setValue(data.output);
            document.getElementById("output").value = data.output;           
        }
      });
  });

  });

</script>
<script type='text/javascript'>
document.onkeydown = function (e) {
  var key = e.charCode || e.keyCode;
  if (key == 123 || key == 122 || e.ctrlKey) { 
    // enter key do nothing
    e.preventDefault();
  }

     
}

</script>
<script>

$(document).ready(function(){
document.addEventListener('contextmenu', event => event.preventDefault());
  $("#saveBtn").click(function(e) {
    $.ajax({
        url: '/ajax/savecode/',
        data: {
          'code': sourceEditor.getValue(),
          'lang': $("#selectLanguageBtn").val(),
          'question': '{{qid}}',
        },
        dataType: 'json',
        success: function (data) {
            if(data.finish) {
              document.getElementById("finishRace").click();
            }
            console.log(data);

        }
      });


  });

  $("#submitBtn").click(function(e) {
    $.ajax({
        url: '/ajax/submitques/',
        data: {
          'code': sourceEditor.getValue(),
          'lang': $("#selectLanguageBtn").val(),
          'question': '{{qid}}',
        },
        dataType: 'json',
        success: function (data) {
            if(data.finish) {
              document.getElementById("finishRace").click();
            }
            insertTemplate();
            if(!data.done) {
            document.getElementById("qhead").innerHTML = data.heading;
            document.getElementById("qbody").innerHTML = data.question;

          }

        }
      });


  });


    $("#finishRace").click(function(e) {
    $.ajax({
        url: '/ajax/finishrace/',
        data: {
          'code': sourceEditor.getValue(),
          'lang': $("#selectLanguageBtn").val(),
        },
        dataType: 'json',
        success: function (data) {
            window.location = "/logout";

        }
      });


  });



  });

var flag=0;
if (document.addEventListener)
{
    document.addEventListener('webkitfullscreenchange', exitHandler, false);
    document.addEventListener('mozfullscreenchange', exitHandler, false);
    document.addEventListener('fullscreenchange', exitHandler, false);
    document.addEventListener('MSFullscreenChange', exitHandler, false);
}

function exitHandler()
{
    if (document.webkitIsFullScreen || document.mozFullScreen || document.msFullscreenElement !== null)
    {
        console.log(flag);
        if(flag==1) {
          window.location = "/logout";
        }
        flag=1;

    }
}


 window.addEventListener('blur', stopTimer);
 
  function stopTimer() {
  window.location = "/logout";
 }

// Find the right method, call on correct element
function launchFullscreen(element) {
  if(element.requestFullscreen) {
    element.requestFullscreen();
  } else if(element.mozRequestFullScreen) {
    element.mozRequestFullScreen();
  } else if(element.webkitRequestFullscreen) {
    element.webkitRequestFullscreen();
  } else if(element.msRequestFullscreen) {
    element.msRequestFullscreen();
  }

}

function exitFullscreen() {
  if(document.exitFullscreen) {
    document.exitFullscreen();
  } else if(document.mozCancelFullScreen) {
    document.mozCancelFullScreen();
  } else if(document.webkitExitFullscreen) {
    document.webkitExitFullscreen();
  }
}

function dumpFullscreen() {
  console.log("document.fullscreenElement is: ", document.fullscreenElement || document.mozFullScreenElement || document.webkitFullscreenElement || document.msFullscreenElement);
  console.log("document.fullscreenEnabled is: ", document.fullscreenEnabled || document.mozFullScreenEnabled || document.webkitFullscreenEnabled || document.msFullscreenEnabled);

}

// Events
document.addEventListener("fullscreenchange", function(e) {
  console.log("fullscreenchange event! ", e);
});
document.addEventListener("mozfullscreenchange", function(e) {
  console.log("mozfullscreenchange event! ", e);
});
document.addEventListener("webkitfullscreenchange", function(e) {
  console.log("webkitfullscreenchange event! ", e);
});
document.addEventListener("msfullscreenchange", function(e) {
  console.log("msfullscreenchange event! ", e);
});

// Add different events for fullscreen
</script>
  <script>
var modal = document.getElementById('myModal');

var btn = document.getElementById("myBtn");

var span = document.getElementsByClassName("close")[0];

btn.onclick = function() {
    modal.style.display = "block";
}

span.onclick = function() {
    modal.style.display = "none";
}

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
var modal1 = document.getElementById('rulesModal');

var btn1 = document.getElementById("rules");
var btn2 = document.getElementById("close_button");

btn1.onclick = function() {
    modal1.style.display = "block";
}
btn2.onclick = function() {
    modal1.style.display = "none";
    launchFullscreen(document.documentElement);
}

window.onclick = function(event) {
    if (event.target == modal1) {
        modal1.style.display = "none";
    }
}

</script>