{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Online compiler and IDE powered by Judge0 API">
  <meta name="keywords" content="online compiler, online ide">
  <meta name="author" content="Herman Zvonimir Došilović">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">


  <link rel="stylesheet" href="{% static 'css/codemirror.css' %}">
  <script src="{% static 'js/codemirror.js' %}"></script>
  <script src="{% static 'js/mode/simple.js' %}"></script>
  <script src="{% static 'js/mode/clike.js' %}"></script>

  <script src="{% static 'js/mode/python.js' %}"></script>


  <script src="{% static 'js/download.js' %}"></script>

  <link rel="stylesheet" href="{% static 'css/addon/dialog.css' %}">

  <script src="{% static 'js/addon/searchcursor.js' %}"></script>
  <script src="{% static 'js/addon/search.js' %}"></script>
  <script src="{% static 'js/addon/dialog.js' %}"></script>
  <script src="{% static 'js/addon/matchbrackets.js' %}"></script>
  <script src="{% static 'js/addon/closebrackets.js' %}"></script>

  <script src="{% static 'js/keymap/vim.js' %}"></script>

  <link rel="stylesheet" href="{% static 'css/ide.css' %}">
  <script src="{% static 'js/ide.js' %}"></script>

  <title>Judge0 IDE</title>
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">

<noscript>
  <style>html{display:none;}</style>
  <meta http-equiv="refresh" content="0.0;url=register">
</noscript>
</head>


<script>
$(document).ready(function(){
  if("{{code.code|escapejs}}"!="") {

  sourceEditor.setValue("{{code.code|escapejs}}");
  document.getElementById("selectLanguageBtn").value={{code.lang}};

};

var timex = Math.floor({{time}}-120-Date.parse(new Date())/1000);
var timey = Math.floor({{time}}-Date.parse(new Date())/1000);
console.log(timex);
setTimeout(x, timex*1000);
setTimeout(y, timey*1000);
function y() {
    document.getElementById("saveBtn").click();

    $.ajax({
        url: '/ajax/swapcode/',
        data: {
          'code': sourceEditor.getValue(),
          'lang': $("#selectLanguageBtn").val(),
        },
        dataType: 'json',
        success: function (data) {
            if(data.finish) {
              document.getElementById("finishRace").click();
            }
            //outputEditor.setValue(data.output);
            document.getElementById("q").innerHTML = data.question;
            sourceEditor.setValue(data.code);
            $("#timer").hide();
            document.getElementById("selectLanguageBtn").value=data.lang;
            var timex1 = Math.floor(data.time-120-Date.parse(new Date())/1000);

            var timey1 = Math.floor(data.time - Date.parse(new Date())/1000);
            setTimeout(x, timex1*1000);

            setTimeout(y, timey1*1000);

          
        }
      });}
function x() {
var myVar = setInterval(myTimer, 1000);
function myTimer() {
    document.getElementById("timer").innerHTML = {{time}}-Date.parse(new Date())/1000;
};
};

  $("#runBtn").click(function(e) {
    $.ajax({
        url: '/ajax/runcode/',
        data: {
          'code': sourceEditor.getValue(),
          'input': inputEditor.getValue(),
          'lang': $("#selectLanguageBtn").val(),
        },
        dataType: 'json',
        success: function (data) {
            if(data.finish) {
              document.getElementById("finishRace").click();
            }
            console.log(data.output);

            //outputEditor.setValue(data.output);
            document.getElementById("abc").innerHTML = data.output;
          
        }
      });
  });

  });

</script>
<script type='text/javascript'>
document.onkeydown = function (e) {
  var key = e.charCode || e.keyCode;
  if (key == 123 || key == 122 || e.ctrlKey) { 
    // enter key do nothing
    e.preventDefault();
  }

     
}

</script>
<script>

$(document).ready(function(){
document.addEventListener('contextmenu', event => event.preventDefault());
  $("#saveBtn").click(function(e) {
    $.ajax({
        url: '/ajax/savecode/',
        data: {
          'code': sourceEditor.getValue(),
          'lang': $("#selectLanguageBtn").val(),
          'question': '{{qid}}',
        },
        dataType: 'json',
        success: function (data) {
            if(data.finish) {
              document.getElementById("finishRace").click();
            }
            console.log(data);

        }
      });


  });

  $("#submitBtn").click(function(e) {
    $.ajax({
        url: '/ajax/submitques/',
        data: {
          'code': sourceEditor.getValue(),
          'lang': $("#selectLanguageBtn").val(),
          'question': '{{qid}}',
        },
        dataType: 'json',
        success: function (data) {
            if(data.finish) {
              document.getElementById("finishRace").click();
            }
            insertTemplate();
            if(!data.done) {
            document.getElementById("q").innerHTML = data.question;
          }

        }
      });


  });


    $("#finishRace").click(function(e) {
    $.ajax({
        url: '/ajax/finishrace/',
        data: {
          'code': sourceEditor.getValue(),
          'lang': $("#selectLanguageBtn").val(),
        },
        dataType: 'json',
        success: function (data) {
            window.location = "/logout";

        }
      });


  });



  });

var flag=0;
if (document.addEventListener)
{
    document.addEventListener('webkitfullscreenchange', exitHandler, false);
    document.addEventListener('mozfullscreenchange', exitHandler, false);
    document.addEventListener('fullscreenchange', exitHandler, false);
    document.addEventListener('MSFullscreenChange', exitHandler, false);
}

function exitHandler()
{
    if (document.webkitIsFullScreen || document.mozFullScreen || document.msFullscreenElement !== null)
    {
        console.log(flag);
        if(flag==1) {
        	window.location = "/logout";
        }
        flag=1;

    }
}


 window.addEventListener('blur', stopTimer);
 
  function stopTimer() {
  window.location = "/logout";
 }

// Find the right method, call on correct element
function launchFullscreen(element) {
  if(element.requestFullscreen) {
    element.requestFullscreen();
  } else if(element.mozRequestFullScreen) {
    element.mozRequestFullScreen();
  } else if(element.webkitRequestFullscreen) {
    element.webkitRequestFullscreen();
  } else if(element.msRequestFullscreen) {
    element.msRequestFullscreen();
  }

}

function exitFullscreen() {
  if(document.exitFullscreen) {
    document.exitFullscreen();
  } else if(document.mozCancelFullScreen) {
    document.mozCancelFullScreen();
  } else if(document.webkitExitFullscreen) {
    document.webkitExitFullscreen();
  }
}

function dumpFullscreen() {
  console.log("document.fullscreenElement is: ", document.fullscreenElement || document.mozFullScreenElement || document.webkitFullscreenElement || document.msFullscreenElement);
  console.log("document.fullscreenEnabled is: ", document.fullscreenEnabled || document.mozFullScreenEnabled || document.webkitFullscreenEnabled || document.msFullscreenEnabled);

}

// Events
document.addEventListener("fullscreenchange", function(e) {
  console.log("fullscreenchange event! ", e);
});
document.addEventListener("mozfullscreenchange", function(e) {
  console.log("mozfullscreenchange event! ", e);
});
document.addEventListener("webkitfullscreenchange", function(e) {
  console.log("webkitfullscreenchange event! ", e);
});
document.addEventListener("msfullscreenchange", function(e) {
  console.log("msfullscreenchange event! ", e);
});

// Add different events for fullscreen
</script>
<body id="bd">
    <button onclick="launchFullscreen(document.documentElement);" id="abcd">Launch Fullscreen</button>
    <div id="timer"></div>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="https://ide.judge0.com">
          Judge0 IDE
        </a>

      </div>
      <div class="navbar-form navbar-right">
        <div class="input-group">
          <div class="input-group-btn">
            <button id="insertTemplateBtn" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Insert template">
              <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            </button>
          </div>
          <select class="form-control" id="selectLanguageBtn">
            <option value="4" mode="text/x-csrc">C (gcc 7.2.0)</option>
            <option value="10" mode="text/x-c++src">C++ (g++ 7.2.0)</option>
            <option value="26" mode="text/x-java">Java</option>
            <option value="35" mode="text/x-python">Python (3.5.3)</option>
            <option value="36" mode="text/x-python">Python (2.7.9)</option>
          </select>
        </div>
        <button class="btn btn-success" id="runBtn" data-loading-text="Running...">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Run (F9)
        </button>
        <button class="btn btn-primary" id="saveBtn" data-loading-text="Saving...">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save (Ctrl+S)
        </button>
        <button class="btn btn-success" id="submitBtn" data-loading-text="Running...">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Submit Ques
        </button>
        <button class="btn btn-success" id="finishRace" data-loading-text="Running...">
          <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Finish
        </button>
        <button class="btn btn-default" id="downloadSourceBtn" data-toggle="tooltip" data-placement="bottom" title="Download source">
          <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
        </button>
        <div class="vertical-spacer"></div>
        <input type="checkbox" id="vimCheckBox" data-toggle="toggle" data-on="Vim Mode On" data-off="Vim Mode Off" data-onstyle="success">
      </div>
    </div>
  </nav>
  <div id="q">{{code.question.question_text|safe}}</div>
  {{code.code}}
  <div id="sourceEditor"></div>

  <div class="container-fluid">
    <div class="row labels">
      <div id="inputLabel" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h4>
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Input <small>optional</small>
          <button class="btn btn-default pull-right" id="downloadInputBtn" data-toggle="tooltip" data-placement="top" title="Download input">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
          </button>
        </h4>
      </div>
      <div id="outputLabel" class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h4>
          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Output <small id="emptyIndicator">empty</small>
          <button class="btn btn-default pull-right" id="downloadOutputBtn" data-toggle="tooltip" data-placement="top" title="Download output">
            <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
          </button>
          <small class="pull-right" id="statusLine"></small>
        </h4>
      </div>
    </div>

    <div class="row ioEditors">
      <div id="inputEditor" class="col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
      <div id="outputEditor" class="col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
    </div>
    <p id="abc"></p>

      

    <div class="row">
      <div id="footer" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p>
          © 2017 <a href="https://judge0.com">Judge0</a>,
          Powered by <a href="https://api.judge0.com">Judge0 API</a>,
          Available on <a href="https://github.com/judge0/ide">GitHub</a>
        </p>
      </div>
    </div>
  </div>
</body>
</html>
