{% load static %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="{% static 'js/jquery.min.js' %}"></script>
  <title>Login</title>
</head>


<script>
$(document).ready(function(){
	console.log("vidit");
  $("#loginform").submit(function(event) {
  	event.preventDefault();
  	console.log("a");
    $.ajax({
        url: '/ajax/login/',
        data: {
          	'password': $('#id_password').val(),
          	'id': $('#id_id').val(),
        	  csrfmiddlewaretoken: '{{ csrf_token }}'

        	},
        dataType: 'json',
		    type:      'POST',        // 'get' or 'post', override for form's 'method' attribute

        success: function (data) {
            console.log(data.error);
            document.getElementById("errors").innerHTML = data.error;
            if(data.success) {
              window.location = "/";
            } 
        }
      });
  });

  });

</script>



<body>
<h1>Login</h1>

<div id="errors"></div>

<form action="" method="post" id="loginform">
{{form.as_p}}
	{% csrf_token %}
        <input type="submit" value="Submit" id="registersubmit">

</form>
</body>
</html>
